
<head>
    <meta charset="UTF-8">
    <title>重邮猫咪领养救助系统</title>
     <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <style>

    </style>
</head>
<body>

<div class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <div><img src="/static/img/校徽.jpeg" alt=""height="35px";width="35px"></div>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">猫咪领养救助系统</a></li>
                <li><a href="/information">校园猫猫图鉴</a></li>
                <li><a href="/center">校园猫猫领养中心</a></li>
                <li><a href="/attention">猫猫注意事项</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/bbs_show">给我们留言</a></li>
                <li><a href="/adlogin">管理员入口</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">已登录<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/register">注册</a></li>
                        <li><a href="/login">登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div>

<div class="container-fluid clearfix">
    <div class="col-md-9">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64"
                         src="/static/img/汽水.png"
                         data-holder-rendered="true" style="width: 128px; height: 128px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">汽水</h4>
                <p>毛色:橘白  性别:公公  状况:健康  绝育情况:未绝育  性格:怕人，安全距离在1m以内</p>
                <p>可爱长毛小橘 新任猪猪潜力股 有无意识抓人前科</p>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" data-src="holder.js/64x64" alt="64x64"
                         src="/static/img/高高.png"
                         data-holder-rendered="true" style="width: 128px; height: 128px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">高高</h4>
                <p>毛色:橘猫  性别:母  状况:健康  绝育情况:未绝育  性格:怕人，安全距离在1m以内</p>
                <p>高高总是那副高冷的表情，喂熟了也不会让摸，只是胆子大了敢在身边蹲下</p>
            </div>
        </div>
        <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="/static/img/奇奇.png" data-holder-rendered="true" style="width: 128px; height: 128px;">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">奇奇</h4>
        <p>毛色:橘色  性别:公  状况:健康  绝育情况:未绝育  性格:亲人可抱  关系:大橘崽崽之一</p>
          <p>看起来很有礼貌的小猫</p>
      </div>
    </div>
        <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="/static/img/猫巨基.png" data-holder-rendered="true" style="width: 128px; height: 128px;">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">猫巨基</h4>
        <p>毛色:橘白  性别:未知  状况:健康  绝育情况:未绝育  性格:亲人可抱  性格:薛定谔亲人</p>
          <p>性感小胡子，想接近人却又不敢，现为情人坡一霸 八十万看了都躲</p>
      </div>
    </div>
        <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="/static/img/胖妈.png" data-holder-rendered="true" style="width: 128px; height: 128px;">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">胖妈</h4>
        <p>毛色:橘白  性别:母  状况:健康  绝育情况:已绝育  性格:怕人，安全距离1m以内 外貌:绿眼睛 圆脸</p>
          <p>大胖子的妈妈</p>
      </div>
    </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">校园猫猫热点</h3>
            </div>
            <div class="panel-body">
                近期情人坡附近出生一窝新的小猫
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">联系我们</div>
            <div class="panel-body">
                如数据有误，请在留言板留言或者通过10975830@163.com联系我们，十分感谢！
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">特别鸣谢</div>
            <div class="panel-body">
                重邮猫咪图鉴提供的数据,所有猫猫均在重邮校园内
            </div>
        </div>
    </div>
</div>



<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/plugins/bootstrap-3.4.1/js/bootstrap.js"></script>

</body>
</html>