<html >
<head>
        <meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="/static/plugins/bootstrap-3.4.1/css/bootstrap.css">
		<style>
			.content {
				width: 40%;
				float: left;
				position: relative;
			}

			.leftSidebar {
				width: 25%;
				float: left;
				padding: 0 30px 0 30px;
				position: relative;
			}

			.rightSidebar {
				width: 25%;
				float: right;
				padding: 0 0 0 0px;
				position: relative;
			}

			button {
                margin: 0 0 30px 0;
			}
			body
            {
                 background-color: LightYellow;
            }
		</style>
	<style id="theia-sticky-sidebar-stylesheet-TSS">.theiaStickySidebar:after {content: ""; display: table; clear: both;}</style>
</head>
<body style="transform: none;">
		<div class="header">
			<h1>养猫的注意事项</h1>
		</div>
        <div class="row">
            <div class="wrapper wrapperThreeColumns" style="transform: none;">
                <div class="leftSidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                    <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 38px;">
                        <div class="col-md-3"><img class="img" src="/static/img/校徽.jpeg"  style="width: 150px; height: 150px;" ></div>
                    <div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 233px; height: 629px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div></div>
                </div>

                <div class="content box" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                    <div class="theiaStickySidebar" style="padding-top: 1px; padding-bottom: 1px; position: static; transform: none;">

          <h1 style="text-align: center;">养猫应该注意点什么</h1>
          <p style="text-align: center;"><img class="img" src="/static/img/猫咪.jpeg"  style="width: 250px; height: 178px;" ></p>
          <div>养猫需要给予小猫精心的呵护，还有一些养猫的技术，不然小猫很难养的健康漂亮，我自己家里面养着一只小猫，
              今天我把自己的养猫技巧和大家说一说，我技术也不是很全面，大家多多批评指正！</div>
          <p style="text-align: center;"><img class="img" src="/static/img/cat1.jpg"  style="width: 250px; height: 178px;" ></p>
          <div>第一、养一只小猫我们要注意家里面的喂养环境，小猫刚来的时候要有一个适合的居住地方， 我自己家里面准备了一个比较大的纸箱子，
              然后我们把纸箱子做成一个小家，给猫咪铺上垫子，这样小猫会比较舒服。</div>
          <p style="text-align: center;"><img class="img" src="/static/img/高高.png"  style="width: 250px; height: 178px;" ></p>
          <div>第二、我们还要准备一些猫砂，其实就是小猫便便的地方，推荐大家使用纸砂就可以，用起来方便还比较经济，
              也有人使用水晶砂，不过价格比较贵，而且水晶砂用起来是比较麻烦的。</div>
          <p style="text-align: center;"><img class="img" src="/static/img/奇奇.png"  style="width: 250px; height: 178px;" ></p>
          <div>第三、我们需要准备一些例如脸盆或者是木箱之类的物品，这主要是为了装猫砂使用，
              大家要注意一点纸箱不能给猫猫装猫砂，会被尿阴湿的，有条件的可以去买个猫咪专用厕所。</div>
          <p style="text-align: center;"><img class="img" src="/static/img/猫巨基.png"  style="width: 250px; height: 178px;" ></p>
        <div>第四、我们在家里饲养小猫，最好不要给小猫吃自己的家里的食品，这样对小猫不是很好，建议大家要给小猫准备专门的猫粮，
            这样小猫会比较健康，长达以后可以给吃自己家里的食品。</div>
          <p style="text-align: center;"><img class="img" src="/static/img/汽水.png"  style="width: 250px; height: 178px;" ></p>
        <div>第五、我们抱回家的小猫咪胃口和肠胃十分脆弱，建议大家在喂养的时候要注意把小猫咪的猫粮先用牛奶或者是水泡软以后喂食，
            这样对小猫有很大的好处，会使小猫咪健康成长。</div>




      </div>
                    <div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 455px; height: 5069px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div></div>
                </div>

                <div class="rightSidebar">
                    <div class="theiaStickySidebar" >

                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">校园猫猫热点</h3>
                                    </div>
                                    <div class="panel-body">
                                        近期情人坡附近出生一窝新的小猫
                                    </div>
                                </div>
                                <div class="panel panel-info">
                                    <div class="panel-heading">联系我们</div>
                                    <div class="panel-body">
                                        如数据有误，请在留言板留言或者通过10975830@163.com联系我们，十分感谢！
                                    </div>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">特别鸣谢</div>
                                    <div class="panel-body">
                                        重邮猫咪图鉴提供的数据,所有猫猫均在重邮校园内
                                    </div>
                                </div>

                    </div>
                </div>
            </div>
        </div>



        <script src="/static/js/jquery-3.6.0.min.js" type="text/javascript"></script>
        <script src="/static/js/theia-sticky-sidebar.js" type="text/javascript"></script>
        <script src="/static/plugins/bootstrap-3.4.1/js/bootstrap.js"></script>

		<script>
			$(document).ready(function() {
				$('.leftSidebar, .content, .rightSidebar')
					.theiaStickySidebar({
						additionalMarginTop: 30
					});
			});
		</script>

</body>
</html>